@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

/* Smooth Scrolling for the whole page */
html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
  /* Text rendering clear aakkan */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Selection Color (Premium Feel) */
::selection {
  background: #ffffff;
  color: #000000;
}

/* Scrollbar Customization (Dark & Minimal) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #050505; 
}

::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}